.residentes{

  color:aquamarine;


}

#actividad{
  color:antiquewhite
}

.registrate{
  color:blue
}
.recuerdame{
  color:blue
}


.contrasena{
  color:blue
}

.inicio{
  color: black
}
.email{
  color:blue
}

#fundacion{
  color:cadetblue;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
   
   }

body {

background-color:antiquewhite;
}

.forum-Registro{
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  box-sizing:  border-box;
  width: 1500px;
  background: #24303c;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.forum-Registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.Control {

   width: 100%;
   padding: 10px;
   border-radius: 4px;
   background: #24303c; 
   margin-bottom: 16px;
   border: 1px solid #1f53c5;
   font-family: 'calibri';
   font-size: 18px;
}

.forum-Registro p {
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
  }

.forum-Registro a {
   color: white;
text-decoration: none;
  }

  .forum-Registro a:hover {
      color: white;
  text-decoration: underline;
     }
  
.forum-Registro .Boton{
width: 100%;
background: #1f53c5;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
}

.textoabuelos {
  margin: auto;
  color: aqua;
}




.img_carrusel {
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    box-sizing:  border-box;
    width: 300px;
}

.img_carrusel2 {
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    box-sizing:  border-box;
    width: 300px;
}

#footer{
    background: #2e2e2e;
    width: 100%;
    height: auto;
  }
  .titulo-footer{
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
  }
  #footer_contacto{
    background: #2e2e2e;
    width: 100%;
    height: auto;
  
  }

  .span-subtitulo{
    color: rgb(244,246,85);
    font-size: 500;
  }
  
  .contacto{
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    font-weight: 700;
  }
  
  .titulo-contacto{
    color: #fff;
  }
  
  .correo-contacto{
    color: #fff;
  }
  
  .Ubicacion{
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    font-weight: 700;
  }
  #localizacion{
    color:white;
    font-size: 25px;
  }
  
  
  .titulo-localizacion{
    color: #fff;
  }
  
  .ubicacion{
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    font-weight: 800;
  }

